<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>创业资讯管理</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{resources/css/jquery-ui-themes.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{resources/css/axure_rp_page.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{data/styles.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{files/创业资讯管理/styles.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{resources/scripts/jquery-1.7.1.min.js}"></script>
    <script th:src="@{resources/scripts/jquery-ui-1.8.10.custom.min.js}"></script>
    <!--<script th:src="@{resources/scripts/prototype/axQuery.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/globals.js}"></script>-->
    <!--<script th:src="@{resources/scripts/axutils.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/annotation.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/axQuery.std.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/doc.}"></script>-->
    <!--<script th:src="@{data/document.js}"></script>-->
    <!--<script th:src="@{resources/scripts/messagecenter.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/events.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/action.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/expr.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/geometry.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/flyout.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/ie.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/model.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/repeater.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/sto.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/utils.temp.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/variables.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/drag.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/move.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/visibility.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/style.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/adaptive.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/tree.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/init.temp.js}"></script>-->
    <!--<script th:src="@{files/创业资讯管理/data.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/legacy.js}"></script>-->
    <!--<script th:src="@{resources/scripts/prototype/viewer.js}"></script>-->
  </head>
  <body>

    <!-- Unnamed (图片) -->
    <div id="u0" class="ax_图片">
      <img id="u0_img" class="img " th:src="@{images/修改密码_1/u0.jpg}"/>
      <!-- Unnamed () -->
      <div id="u1" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u2" class="ax_文本">
      <img id="u2_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u3" class="text">
        <p><span>你好，</span><span>系统</span><span>管理员&nbsp; admin</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u4" class="ax_文本">
      <img id="u4_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u5" class="text">
        <p><span>【安全退出】</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u6" class="ax_文本">
      <img id="u6_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u7" class="text">
        <p><span>【</span><span>修改密码</span><span>】</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u8" class="ax_文本">
      <img id="u8_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u9" class="text"></div>
    </div>

    <!-- Unnamed (表格) -->
    <div id="u10" class="ax_表格">

      <table border="1" cellspacing="0">
        <tr>
          <td id="id">ID</td>
          <td id="title">标题</td>
          <td id="modifyDate">更新日期</td>
          <td id="eliteRecommend">是否推荐</td>
          <td id="operation">操作</td>
        </tr>
        <tr th:each="businessInformation : ${businessInformationPage.content}">
          <td th:text="${businessInformation.articleid}"></td>
          <td th:text="${businessInformation.articletitle}"></td>
          <td th:text="${businessInformation.updatedate}"></td>
          <td th:if="${businessInformation.isrecommend} Eq 1">
            <input th:id="${businessInformation.articleid}"  type="checkbox" value="checkbox" checked="true">
          </td>
          <td th:if="${businessInformation.isrecommend} Eq 0">
            <input th:id="${businessInformation.articleid}"  type="checkbox" value="checkbox">
          </td>
          <td>
            <img th:id="${businessInformation.articleid}" class="updateNews" src="images/修改个人资料/u46.png" tabindex="0">
            <img th:id="${businessInformation.articleid}" class="deleteNews" src="images/管理班级/u89.png" tabindex="0">
          </td>
        </tr>
      </table>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u95" class="ax_形状" style="cursor: pointer;">
      <img id="u95_img" class="img " src="images/创业资讯管理/u95.png" tabindex="0">
      <!-- Unnamed () -->
      <div id="u96" class="text" style="top: 4px;">
        <p><span>+ </span><span>添加</span><span>创业咨询</span></p>
      </div>
    </div>
    <div id="u61" class="ax_文本">
      <ul>
        <li class="pageNo" th:each="i: ${#numbers.sequence(1, businessInformationPage.totalPages)}">
          <a href="javascript:(0);" th:text="${i}"></a>
        </li>
      </ul>
    </div>

    <!-- confirm (动态面板) -->
    <div id="u97" class="ax_动态面板" data-label="confirm">
      <div id="u97_state0" class="panel_state" data-label="State1">

        <!-- Unnamed (形状) -->
        <div id="u98" class="ax_形状">
          <img id="u98_img" class="img " th:src="@{images/修改密码_1/u44.png}"/>
          <!-- Unnamed () -->
          <div id="u99" class="text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u100" class="ax_文本">
          <img id="u100_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u101" class="text">
            <p><span>提示信息</span></p>
          </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u102" class="ax_水平线">
          <img id="u102_start" class="img " th:src="@{resources/images/transparent.gif}" alt="u102_start"/>
          <img id="u102_end" class="img " th:src="@{resources/images/transparent.gif}" alt="u102_end"/>
          <img id="u102_line" class="img " th:src="@{images/修改密码_1/u48_line.png}" alt="u102_line"/>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u103" class="ax_形状">
          <img id="u103_img" class="img " th:src="@{images/修改密码_1/u49.png}"/>
          <!-- Unnamed () -->
          <div id="u104" class="text">
            <p><span>确定</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u105" class="ax_图片">
          <img id="u105_img" class="img " th:src="@{images/修改密码_1/u51.png}"/>
          <!-- Unnamed () -->
          <div id="u106" class="text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u107" class="ax_文本">
          <img id="u107_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u108" class="text">
            <p><span>确定删除该</span><span>资讯</span><span>吗？</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u109" class="ax_图片">
          <img id="u109_img" class="img " th:src="@{images/新闻管理/u158.png}"/>
          <!-- Unnamed () -->
          <div id="u110" class="text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u111" class="ax_形状">
          <img id="u111_img" class="img " th:src="@{images/修改密码_1/u49.png}"/>
          <!-- Unnamed () -->
          <div id="u112" class="text">
            <p><span>取消</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u113" class="ax_文本">
      <img id="u113_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u114" class="text">
        <p><span>注释：点击“是否推荐”一栏的选择框立即生效，打钩表示推荐</span></p>
      </div>
    </div>



    <!-- Unnamed (形状) -->
    <div id="u127" class="ax_文本">
      <img id="u127_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u128" class="text">
        <p><span>【</span><span>网站首页</span><span>】</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u129" class="ax_文本">
      <img id="u129_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u130" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u131" class="ax_文本">
      <img id="u131_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u132" class="text">
        <p><span>·</span><span>宣传</span><span>管理 </span><span>&nbsp; </span><span>》</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u133" class="ax_文本">
      <img id="u133_img" class="img " th:src="@{resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u134" class="text">
        <p><span>创业资讯</span><span>列表</span></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u135" class="ax_水平线">
      <img id="u135_start" class="img " th:src="@{resources/images/transparent.gif}" alt="u135_start"/>
      <img id="u135_end" class="img " th:src="@{resources/images/transparent.gif}" alt="u135_end"/>
      <img id="u135_line" class="img " th:src="@{images/修改密码_1/u24_line.png}" alt="u135_line"/>
    </div>

    <!-- 导航 (动态面板) -->
    <div id="u136" class="ax_动态面板" data-label="导航">
      <div id="u136_state0" class="panel_state" data-label="State1">

        <!-- Unnamed (形状) -->
        <div id="u137" class="ax_文本">
          <img id="u137_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u138" class="text">
            <p><span>新闻管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u139" class="ax_文本">
          <img id="u139_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u140" class="text">
            <p><span>公告管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u141" class="ax_文本">
          <img id="u141_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u142" class="text">
            <p><span>网上开班管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u143" class="ax_文本">
          <img id="u143_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u144" class="text">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u145" class="ax_文本">
          <img id="u145_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u146" class="text">
            <p><span>系统参数配置</span></p>
          </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u147" class="ax_水平线">
          <img id="u147_start" class="img " th:src="@{resources/images/transparent.gif}" alt="u147_start"/>
          <img id="u147_end" class="img " th:src="@{resources/images/transparent.gif}" alt="u147_end"/>
          <img id="u147_line" class="img " th:src="@{images/修改密码_1/u21_line.png}" alt="u147_line"/>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u148" class="ax_形状">
          <img id="u148_img" class="img " th:src="@{images/新闻管理/u12.png}"/>
          <!-- Unnamed () -->
          <div id="u149" class="text">
            <p><span>宣传管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u150" class="ax_文本">
          <img id="u150_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u151" class="text">
            <p><span>KAB概况管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u152" class="ax_文本">
          <img id="u152_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u153" class="text">
            <p><span>|&nbsp; &nbsp; &nbsp;&nbsp; </span><span>创业资讯管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u154" class="ax_文本">
          <img id="u154_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u155" class="text">
            <p><span>|&nbsp; &nbsp; &nbsp;&nbsp; </span><span>KAB课程介绍</span><span>管理</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u156" class="ax_文本">
          <img id="u156_img" class="img " th:src="@{resources/images/transparent.gif}"/>
          <!-- Unnamed () -->
          <div id="u157" class="text">
            <p><span>|&nbsp; &nbsp; &nbsp;&nbsp; </span><span>单页管理</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
<script>
  $("#u150").click(function () {
    location.href="/kabSsurveyManage"
  });
  $("#u138").click(function () {
    location.href="/newsManage"
  });

  $("#u154").click(function () {
    location.href="/kabCourseReferraManage";
  });
  $("#u156").click(function () {
    location.href="/singlePageManage";
  });
  $("#u139").click(function () {
    location.href="/kabNoticeManage";
  });
  $("#u141").click(function () {
    location.href="/classManage";
  });
  $("#u143").click(function () {
    location.href="/kabUserManage";
  });
  $(function () {
    var pageNos =$(".pageNo");
    $.each(pageNos,function (i,e) {
      $(this).click(function () {
        location.href="/businessInformationManage?pageNo="+$(this).find("a").text()
      });
    })
  });
</script>
</html>
